###### Requirements without Version Specifiers ######`
flask~=1.1.2
pytest~=5.4.2

###### Requirements with Version Specifiers ######`
#docopt == 0.6.1             # Version Matching. Must be version 0.6.1
#keyring >= 4.1.1            # Minimum version 4.1.1
#coverage != 3.5             # Version Exclusion. Anything except version 3.5
#Mopidy-Dirble ~= 1.1        # Compatible release. Same as >= 1.1, == 1.*

click~=7.1.2
Werkzeug~=1.0.1
setuptools~=46.3.1