html, body { height: 100%; }
body { background: url("./blank-business-composition-computer-373076.jpg") center/cover no-repeat fixed; }
body > .container-sm { max-width: 960px; }
.min-w-50 { min-width: 50%; }
h1.display-4 > a { color: inherit; }
section.content > * {
    max-width: 80%;
    margin: 1rem auto;
}
article.post {
    background-color: rgba(255,255,255, 0.8);
    border-radius: 15px;
}
.bg-grad1 { background-image: linear-gradient(to bottom, #f2e1f1 0%, #e1e1f2 100%); }
.bg-color1 { background-color: #f2e1f1; }
.rounded-xlg { border-radius: 40px; }