html, body { height: 100%; }
body { background: url("./photo-of-white-wall-1484759.jpg") center/cover no-repeat fixed; }
body > .container-sm { max-width: 960px; }
input.form-control { margin: 0.5rem 0rem; }
h1.display-4 { padding: 2rem 1rem; }
h1.display-4 > a { color: inherit; }
.navbar-text { margin-right: 1rem; }
section.content > * {
    max-width: 80%;
    margin: 1rem auto;
}
article.post {
    background-color: rgba(255,255,255, 0.8);
}