{% extends 'base.html' %}

{% block header %}
  <h1 class="display-4 text-center bg-color1 rounded-xlg py-3 px-5">{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" class="min-w-50">
    <label for="username">Username</label>
    <input name="username" id="username" required class="form-control min-w-50 m-2">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required class="form-control min-w-50 m-2">
    <input type="submit" value="Log In" class="form-control m-2 mt-5">
  </form>
{% endblock %}
